.header_container{

    /* background-color: #FFEFAE; */
    /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1800' height='1000' preserveAspectRatio='none' viewBox='0 0 1800 1000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1050%26quot%3b)' fill='none'%3e%3crect width='1800' height='1000' x='0' y='0' fill='rgba(255%2c 239%2c 174%2c 1)'%3e%3c/rect%3e%3cpath d='M 0%2c913 C 120%2c825.4 360%2c491.2 600%2c475 C 840%2c458.8 960%2c827.4 1200%2c832 C 1440%2c836.6 1680%2c564.8 1800%2c498L1800 1000L0 1000z' fill='rgba(150%2c 177%2c 173%2c 0.12)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1050'%3e%3crect width='1800' height='1000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e"); */
    background-repeat: no-repeat;
    background-size:cover;

}

.header_container svg{
    display: block; 
}


/* wave styles */

.spanText{
  font-size: 4rem;
  position: absolute;
  font-weight: 500;
}

.borderText{
  color: black;
  text-shadow: 
  -1px -1px 0 white,
  1px -1px 0 white,
  1px 1px 0 white,
  -1px 1px 0 white
  ;
}

.wave{
  color: #09f;
  animation: wave 3s ease-in-out infinite;
}

@keyframes wave {
  0%, 100% {
    clip-path: polygon(
      0% 47%,
      10% 48%,
      33% 54%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }
  50%{
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

@media (max-width: 1444px) {
  .spanText{
    font-size: 1.6rem;
    left: 10%;
   
  }
}





.nav_link {
    transition: color 0.25s 0.0833333333s;
    position: relative;
    text-decoration: none;
}

.nav_link::before, .nav_link::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
}

.nav_link::before {
border-bottom-width: 1px;
border-left-width: 1px;
}

.nav_link::after {
border-top-width: 1px;
border-right-width: 1px;
}

.nav_link:hover {
color: #670000;
}

.nav_link:hover::before, .nav_link:hover::after {
border-color: #FA8D74;
transition: border-color 0s, width 0.25s, height 0.25s;
width: 100%;
height: 100%;
}
.nav_link:hover::before {
transition-delay: 0s, 0s, 0.25s;
}
.nav_link:hover::after {
transition-delay: 0s, 0.25s, 0s;
}
.nav_link {
    background: none;
    border: none;
    cursor: pointer;
    line-height: 1;
    padding: 10px 30px;
    letter-spacing: 0.05rem;
    font-size: 18px;
}
.nav_link:focus {
    outline: 2px dotted #FA8D74;
}







/* Change mode light */

/* From uiverse.io by @satyamchaudharydev */
/* The switch - the box around the slider */
.switch {
    --width-of-switch: 3.5em;
    --height-of-switch: 2em;
    /* size of sliding icon -- sun and moon */
    --size-of-icon: 1.4em;
    /* it is like a inline-padding of switch */
    --slider-offset: 0.3em;
    position: relative;
    width: var(--width-of-switch);
    height: var(--height-of-switch);
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f4f4f5;
    transition: .4s;
    border-radius: 30px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: var(--size-of-icon,1.4em);
    width: var(--size-of-icon,1.4em);
    border-radius: 20px;
    left: var(--slider-offset,0.3em);
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(40deg,#ff0080,#ff8c00 70%);
    ;
   transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #303136;
  }
  
  input:checked + .slider:before {
    left: calc(100% - (var(--size-of-icon,1.4em) + var(--slider-offset,0.3em)));
    background: #303136;
    /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
    box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
  }

