.header_container{

    background-color: #FFEFAE;
    

}





.nav_link {
    transition: color 0.25s 0.0833333333s;
    position: relative;
    text-decoration: none;
}

.nav_link::before, .nav_link::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
}

.nav_link::before {
border-bottom-width: 1px;
border-left-width: 1px;
}

.nav_link::after {
border-top-width: 1px;
border-right-width: 1px;
}

.nav_link:hover {
color: #67e8f9;
}

.nav_link:hover::before, .nav_link:hover::after {
border-color: #67e8f9;
transition: border-color 0s, width 0.25s, height 0.25s;
width: 100%;
height: 100%;
}
.nav_link:hover::before {
transition-delay: 0s, 0s, 0.25s;
}
.nav_link:hover::after {
transition-delay: 0s, 0.25s, 0s;
}
.nav_link {
    background: none;
    border: none;
    cursor: pointer;
    line-height: 1;
    padding: 15px 20px;
    letter-spacing: 0.05rem;
    font-size: 18px;
}
.nav_link:focus {
outline: 2px dotted #55d7dc;
}

