.header_container{

    /* background-color: #FFEFAE; */
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1800' height='1000' preserveAspectRatio='none' viewBox='0 0 1800 1000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1050%26quot%3b)' fill='none'%3e%3crect width='1800' height='1000' x='0' y='0' fill='rgba(255%2c 239%2c 174%2c 1)'%3e%3c/rect%3e%3cpath d='M 0%2c913 C 120%2c825.4 360%2c491.2 600%2c475 C 840%2c458.8 960%2c827.4 1200%2c832 C 1440%2c836.6 1680%2c564.8 1800%2c498L1800 1000L0 1000z' fill='rgba(150%2c 177%2c 173%2c 0.12)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1050'%3e%3crect width='1800' height='1000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size:cover;

}





.nav_link {
    transition: color 0.25s 0.0833333333s;
    position: relative;
    text-decoration: none;
}

.nav_link::before, .nav_link::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
}

.nav_link::before {
border-bottom-width: 1px;
border-left-width: 1px;
}

.nav_link::after {
border-top-width: 1px;
border-right-width: 1px;
}

.nav_link:hover {
color: #670000;
}

.nav_link:hover::before, .nav_link:hover::after {
border-color: #FA8D74;
transition: border-color 0s, width 0.25s, height 0.25s;
width: 100%;
height: 100%;
}
.nav_link:hover::before {
transition-delay: 0s, 0s, 0.25s;
}
.nav_link:hover::after {
transition-delay: 0s, 0.25s, 0s;
}
.nav_link {
    background: none;
    border: none;
    cursor: pointer;
    line-height: 1;
    padding: 10px 30px;
    letter-spacing: 0.05rem;
    font-size: 18px;
}
.nav_link:focus {
    outline: 2px dotted #FA8D74;
}

